
header{

    min-height: 20vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
      font-family: "Dancing Script";
      font-size: 35px;
        color: white;

    }
}

