
header{
    margin-left: 105px;
    margin-right: 105px;
    min-height: 25vh;
    background-image: url(../../assets/dark.webp);

    image-orientation: flip;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
      font-family: "Dancing Script";
      font-size: 45px;
        color: white;

    }
}
image{
  min-width: 50px;
}

