<div class="Add">
<input class="writeDown" type="text"[(ngModel)] = "name">
<button (click) = "clickAdd()">Add new task</button>
</div>


<div class="list">
<div class="favorites"><p>FAVORITES</p>
        <li [ngClass]="{'Fav' : !tarea.isDone }" *ngFor="let tarea of lista0; let index = index">
            <div class="favorite">
                <h1>{{tarea.title}}</h1>
                <div class="favbutton">

                  <input class="Botón" [(ngModel)]="tarea.isDone" (click)="Cambiar0(index)"  type="checkbox">
                  <a class="fav1"><h1 class="textofav" (click)="CambiarFavRemove(index)">🌕</h1></a>
                </div>
            </div>
        </li>
</div>
<div class="undone"><p>UNDONE</p>
        <li [ngClass]="{'NoHecho' : !tarea.isDone }" *ngFor="let tarea of lista1; let index = index">
            <div class="SinHacer">
                <h1>{{tarea.title}}</h1>
                <div class="favbutton">
                    <a class="fav1"><h1 class="textofav" (click)="CambiarFavAdd(index)">🌑</h1></a>

                </div>
                <div class="CajaBotón">
                    <input class="Botón" [(ngModel)] ="tarea.isDone" (click)="Cambiar1(index)"  type="checkbox">
                </div>
            </div>
        </li>
</div>
<div class="done"><P>DONE</P>
        <li [ngClass]="{'Hecho' : tarea.isDone }" *ngFor="let tarea of lista2; let index = index">
            <div class="Hacer">
                <h1>{{tarea.title}}</h1>
                <div class="CajaBotón">
                    <input class="Botón" [(ngModel)]="tarea.isDone" (click)="Cambiar2(index)" type="checkbox">
                </div>
            </div>
        </li>
</div>
</div>
