
.Add{
    display: flex;
    justify-content: center;



    .writeDown{
        min-height: 50px;
        width: 1200px;
    }
}
*{
    list-style: none;
}
h1, p{
  font-family: "Dancing Script";
    margin: 0px;
}
p{
  border-bottom: 1px solid #1f2b4a;
  border-top: 1px solid #3e5180;

}
li{
  display: flex;
    background: #fff;
    position: relative;
    z-index: 10;
    padding: 15px 40px;
    margin: -1px 0 0;
    border-bottom: 1px solid #1f2b4a;
    font-size: 15px;
    zoom: 1;
}


.list-fav{
    display: flex;
    flex-direction: column;

}
.Hacer{
  text-decoration: line-through;
  display: flex;
}





